* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.8rem;
}

input[type="number"] {
  padding: 5px 10px;
}

input[type="color"] {
  all: unset;
  width: 30px;
  height: 30px;
}

.mini-canvas {
  position: relative;
  cursor: pointer;
}

.mini-canvas-before {
  position: absolute;
  right: 4px;
  bottom: 4px;
  color: darkgray;
  opacity: 0;
}

.mini-canvas:hover .mini-canvas-before {
  opacity: 1;
}


ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
}