* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.8rem;
}

input[type="number"] {
  padding: 5px 10px;
}

input[type="color"] {
  all: unset;
  width: 30px;
  height: 30px;
}

.mini-canvas {
  position: relative;
  cursor: pointer;
}

.mini-canvas-before {
  position: absolute;
  inset: 0;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-end;
  color: darkgray;
  padding-left: 8px;
  padding-bottom: 4px;
  opacity: 0;
}

.mini-canvas:hover .mini-canvas-before {
  opacity: 1;
}