* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.8rem;
}

input[type="number"] {
  padding: 5px 10px;
}

input[type="color"] {
  all: unset;
  width: 30px;
  height: 30px;
}